body{

    width:100%;
    height:100vh;
    display:flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 10px;
    font-family:'Times New Roman', Times, serif;
    
}
.b1{
    width:800px;
    height:500px;
    display:flex;
align-items: center;
background-image: url(s2bg.jpg);
    justify-content: center;
    background-color: rgb(35, 42, 42);
   
}
.b2{
    width:600px;
    height:350px;
    display:flex;
    background-color: rgb(25, 41, 47);
    
}
.left{
    width:300px;
    height:350px;
    border-radius: 0px 50% 50% 0px;
    background-color: orangered;
    
}
.im{
    width:400px;
    left:10px;
    position:absolute;
    margin-top: 40px;
}
.right{
     width:300px;
    height:350px;
    padding:20px;

}
.r1{
    
    font-size: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight:500;
    color:orangered; 
}
.gm{
    margin-top:30px;
    display:flex;
    flex-direction: column;
    line-height: 20px;
}
.r2{
    margin-top: 20px;
    font-size:20px;
    font-weight:200;
}
.r3{
    font-size:25px;
    font-weight:400;
}
.pr1{
    font-size:20px;
    font-weight: 600;
    color:rgb(53, 213, 245);
    gap: 10px;
    margin-bottom: 10px;
    
}
.pr2{
    font-size:15px;
    font-weight: 300;
    text-decoration: line-through;
    text-decoration-color:red ;
    
}
.size{
    font-size: 20px;
    display:flex;
    gap: 10px;
    margin-bottom: 20px;
    margin-top:15px;

}
.num span{
    margin-right: 20px;

}
.color{
    font-size: 18px;
    display:flex;
    gap:10px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.yellow{
    width:20px;
    height:20px;
    background-color: yellow;
    border-radius: 50%;
    border: 1px solid white;
    margin-right:15px;


}.red{
    width:20px;
    height:20px;
    background-color: red;
    border-radius: 50%;
    border: 1px solid white;
     margin-right:15px;
    

}.blue{
    width:20px;
    height:20px;
    background-color:blue;
    border-radius: 50%;
    border: 1px solid white;
     margin-right:15px;

}
.color:hover{
    
    transform:scale(0.3);
    transition:0.5s;
    

}
.buy{
    cursor: pointer;
    display:flex;
    gap:35px;
    font-size: 17px;
    color: rgb(227, 180, 61);
     /* margin-right: 30px; */
     margin-left: 15px;
    
  
}